{{#if @model.isDirty}}
<h1>Project model is dirty </h1>

<h2>Selected Team: {{@model.activeTeam.name}}</h2>

    <b>Changed Keys:</b>
    {{#each @model.changes as |change|}}
        <div style='display:block'>
            {{change.key}}
        </div>
    {{/each}}
  {{else}}
  <h1>Currently Selected team: {{@model.activeTeam.content.name}}</h1>
{{/if}}

<TeamSelector @model={{@model}}/>
